@page
@using Microsoft.VisualBasic
@model WebDevStripboeken.Pages.Admin

@{
    Layout = "_Layout";
    ViewData["Title"] = "Profile";
    ViewData["User"] = @Model.currentUser.Gebruikersnaam;
}
<div class="row">
<div class="col-lg-6">
    <ul>
        @{
            foreach (var x in @Model.listUsers)
            {
                <li>Gebruiker: @x.Gebruikersnaam -- @Strings.FormatDateTime(@x.Geboorte_datum) -- @x.Email
                    <form method="post">
                        <!--<button type="submit" name="promote"></button>-->
                        <input type="hidden" name="id" value="@x.Gebruiker_id"/>
                        <button type="submit" asp-page-handler="DelUser">Verwijder Gebruiker</button>
                    </form>
                </li>
            }
        }
    </ul>
</div>
<div class="col-lg-6">
    <ul>
        @{
            foreach (var x in @Model.listStripboek)
            {
                <li><a href="../stripboek/@x.Boek_id">@x.Reeks -- @x.Titel</a>
                    <form method="post">
                        <button type="submit" asp-page-handler="AccBoek">Accepteer stripboek</button>
                        <input type="hidden" name="id" value="@x.Boek_id"/>
                        <button type="submit" asp-page-handler="DelBoek">Verwijder stripboek</button>
                    </form>
                </li>
            }
        }
    </ul>
</div>
</div>