@page
@using Microsoft.VisualBasic
@model WebDevStripboeken.Pages.Admin

@{
    Layout = "_Layout";
    ViewData["Title"] = "Profile";
    ViewData["User"] = @Model.currentUser.Gebruikersnaam;
}

<div class="row">
    <div class="col-6 content">
        <h2>Gebruikers</h2>
        <ul>
            @{
                foreach (var x in @Model.listUsers)
                {
                    <li>@x.Gebruikersnaam -- @Strings.FormatDateTime(@x.Geboorte_datum) -- @x.Email
                        <form method="post">
                            <!--<button type="submit" name="promote"></button>-->
                            <input type="hidden" name="id" value="@x.Gebruiker_id"/>
                            <button class="btn btn-outline-secondary" type="submit" asp-page-handler="DelUser"><i class="fa-solid fa-xmark fa-fw"></i>Verwijder gebruiker</button>
                        </form>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="col-6 content">
        <h2>Stripboek verwijderen of accepteren</h2>
        <ul>
            @{
                foreach (var x in @Model.listStripboek)
                {
                    <li><a href="../stripboek/@x.Boek_id">@x.Reeks -- @x.Titel</a>
                        <form method="post">
                            <div class="btn-group" role="group">
                                <button class="btn btn-outline-secondary" type="submit" asp-page-handler="AccBoek"><i class="fa-solid fa-check fa-fw"></i>Accepteer stripboek</button>
                                <button class="btn btn-outline-secondary" type="submit" asp-page-handler="DelBoek"><i class="fa-solid fa-xmark fa-fw"></i>Verwijder stripboek</button>
                            </div>
                            <input type="hidden" name="id" value="@x.Boek_id"/>
                        </form>
                    </li>
                }
            }
        </ul>
    </div>
</div>