@page
@model WebDevStripboeken.Pages.Collections

@{
    Layout = "_Layout";
    ViewData["Title"] = "Your Collections";
    ViewData["User"] = @Model.currentUser.Gebruikersnaam;
}

<div class="row">
    <div class="col-4 content">
        <h2>Collecties</h2>
        <h3>Maak nieuwe collecties aan</h3>
        <form method="post" id="CollectieAanMaken" class="needs-validation" novalidate>
                <label for="naam" class="form-label">Collectienaam</label>
                <div class="input-group mb-3">
                    <input name="Naam" type="text" class="form-control" id="Collectienaam" placeholder="Collectienaam"/>
                </div>
            <button name="action" class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-arrow-right-to-bracket fa-fw"></i>Maak collectie aan</button>
            </form>
        <ul>
            @*{ @*
                foreach (myCollectie x in Model.lil2)
                {
                    <li><a href="../collectie/@x.Collectie_id">@x.Collectie_naam</a></li> <!--Link naar een gebruiker zijn collecties-->
                }
            } *@
            <li>Collectie 1</li> 
            <li>Wenslijst 1</li>
        </ul>
    </div>
    
    <div class="col-4 content">
        <h2>Activiteiten</h2>
        <!--<ul>
            <li>Activiteit 1</li>
            <li>Activiteit 2</li>
            <div class="col-4 content">
                <!--Plan to store user input in database for review
                    <div class="card">
                    <div class="row">
                    @* <div class="col-2"> <img src="~/Images/profile pic.jpg" height="200" width="400" class="rounded-circle mt-2"> </div> profile picture doesn't fit well *@
                    <div class="col-10">
                    <div class="comment-box ml-2">
                    <h4>Review een stripboek</h4>
                    <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> </div>
                    <div class="comment-area"> <textarea class="form-control" placeholder="Boek uitgelezen? Wat dacht je ervan?" rows="4"></textarea> </div>
                    <div class="comment-btns mt-2">
                        <div class="row">
                            <!--Als een gebruiker de review toch niet wil plaatsen
                            <div class="col-4">
                                <div class="pull-left"> <button class="btn btn-danger btn-sm">Sluiten</button> </div>
                            </div>
                            <!--Submit button zou in de toekomst de review kunnen submitten naar de database het zou ook zichtbaar zijn afhankelijk van een gebruiker zijn instellingen 
                            <div class="col-4">
                                <div class="pull-right"> <button class="btn btn-success send btn-sm">Submit <i class="fa fa-long-arrow-right ml-1"></i></button> </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div> 
                </div>
        </ul>-->
    </div>
    
    <div class="col-4 content">
        <h2>Suggesties</h2>
        <div class="accordion" id="stripboekAccordeon">
            @{
                int i = 0;
                foreach (myStripboek stripboek in Model.lil1)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_@i">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@i" aria-expanded="false" aria-controls="collapse_@i">
                                @stripboek.Titel
                            </button>
                        </h2>
                        <div id="collapse_@i" class="accordion-collapse collapse" aria-labelledby="heading_@i" data-bs-parent="#stripboekAccordeon">
                            <div class="accordion-body">
                                <p><b>Reeks:</b> @stripboek.Reeks</p>
                                <p><b>Jaar van uitgave:</b> @stripboek.Jaar_v_Uitgave</p>
                                <p><b>Uitgever:</b> @stripboek.Uitgever</p>
                                <span><a href="../stripboek/@stripboek.Boek_id">Meer Informatie..</a></span>
                            </div>
                        </div>
                    </div>

                    i++;
                }
            }
        </div>
        <!--<form method="post">
            <div class="btn-group" role="group">
                <button class="btn btn-outline-secondary" type="submit" name="Min" asp-page-handler="Min">Vorige</button>
                <button class="btn btn-outline-secondary" type="submit" name="Add" asp-page-handler="Add">Volgende</button>
                <button class="btn btn-outline-secondary" type="submit" name="Zero" asp-page-handler="Reset">Reset</button>
            </div>
            <input type="hidden" name="based" value="@Model.myBase"/>
        </form>-->
    </div>
</div>
