@page "/Home"
@model WebDevStripboeken.Pages.Home

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
    ViewData["User"] = @Model.currentUser.Gebruikersnaam;
    
} 
  <script>
  $( function() {
    $( "#dialog" ).dialog();
  } );
  </script>

<div class="row">
    <div id="dialog" title="Basic dialog">
        <p>@Model.message</p>
    </div>
    <h1>ALLE STRIPBOEKEN</h1><h6>(in de hele database...)</h6>
    <div class="col-4 content">
        <ul>
            @{
                foreach (myStripboek x in Model.lil)
                {
                    <li><a href="../stripboek/@x.Boek_id">@x.Reeks -- @x.Titel</a></li>
                }
            }
        </ul>
        <form method="post">
            <button type="submit" name="Min" asp-page-handler="Min">-</button>
            <button type="submit" name="Add" asp-page-handler="Add">+</button>
            <button type="submit" name="Zero" asp-page-handler="Reset">Reset</button>
            <input type="hidden" name="based" value="@Model.myBase"/>
        </form>
    </div>
    <div class="col-4 content">Activity Feed</div>
    <div class="col-4 content">Recommendations</div>
</div>