@page "{routeUser}"
@model WebDevStripboeken.Pages.Profile


@{
    Layout = "_Layout";
    ViewData["Title"] = "Profile";
    ViewData["User"] = @Model.currentUser.Gebruikersnaam;
}

<div class="row">
    <div class="col-4 content">
        <h2>Profiel Informatie</h2>
        <p><b>Gebruikersnaam:</b> @Model.currentUser.Gebruikersnaam</p>
        <p><b>Email:</b> @Model.currentUser.Email</p>
        <p><b>Geboortedatum:</b> @Model.currentUser.Geboorte_datum.ToString("d")</p>
        @{
            if (@Model.currentUser.Is_admin == 1)
            {
                <h2>Admin Instellingen</h2>
                <p><a class="link-info" href="../admin/">Gebruikers en stripboeken</a></p>
            }
        }
    </div>
</div>