@page "{Boekid}"
@model WebDevStripboeken.Pages.Stripboek

@{
    Layout = "_Layout";
    ViewData["Title"] = "Log-In";
    ViewData["User"] = @Model.currentUser.Gebruikersnaam;
}

<div class="row">
    <div class="col-lg-4 content" style="display: flex; flex-wrap: wrap">
        <img src="@Model.boek.Afbeelding_urls" style="width: fit-content"> <!-- picture's hebben white borders, dunno hoe te centeren -->
    </div>
    <div class="col-lg-4 content">
        <h2>Stripboek Informatie</h2>
        <p><b>Titel:</b> @Model.boek.Titel</p>
        <p><b>Reeks:</b> @Model.boek.Reeks</p>
        <p><b>Schrijver(s):</b> </p>
        <ul>
            @{
                if (@Model.boek.MyAuteurs.Count > 0)
                {
                    foreach (myAuteur x in @Model.boek.MyAuteurs)
                    {
                        <li>@x.Naam_Auteur</li>
                    }
                }
            }
        </ul>
        <p><b>Tekenaar(s):</b> </p>
        <ul>
            @{
                if (@Model.boek.MyTekenaars.Count > 0)
                {
                    foreach (myTekenaar y in @Model.boek.MyTekenaars)
                    {
                        <li>@y.Naam_Tekenaar</li>
                    }
                }
            }
        </ul>
        <p><b>Jaar van uitgave:</b> @Model.boek.Jaar_v_Uitgave</p>
        <p><b>ISBN:</b> @Model.boek.ISBN</p>
        <p><b>Geschatte Waarde:</b> €@Model.boek.Waarde_schatting</p>
    </div>
    <div class="col-lg-4 content">
        @{
            Console.WriteLine(@Model.userspecific);
            if (ViewData["User"] != "Guest" && ViewData["User"] != null && @Model.userspecific != null)
            {
                <h2>Jou Informatie</h2>
                <p><b>Gekocht voor:</b> €@Model.userspecific.Gekocht_voor</p>
                <p><b>Locatie:</b> @Model.userspecific.Locatie</p>
                <p><b>Status:</b> @Model.userspecific.Status_exemplaar</p>
            }
            switch (@Model.currentUser.Gebruikersnaam)
            {
                case "Guest":
                    <p>Wil je dit werk toevoegen aan een van jouw collecties? <a href="../login">Log hier in!</a></p>
                    break;
                default:
                    <p><b>Toevoegen aan collectie:</b></p>
                    <form method="post" id="CollectionSelect">
                        <select id="categorie" class="form-select" name="collection" required="required">
                            <option value="">Kies een collectie</option>
                            @{
                                foreach (myCollectie coll in Model.UserspecificCollecties)
                                {
                                    <option value="@coll.Collectie_id">@coll.Collectie_naam</option>
                                }
                            }
                            <!--<option value=""><a href="../Collections">Nieuwe collectie aanmaken</a></option>-->
                        </select>
                        <button class="btn btn-outline-secondary" type="submit" asp-page-handler="CollectionSelect"><i class="fa-solid fa-magnifying-glass"></i>Toevoegen</button>
                    </form>
                    break;
            }
        }
    </div>
</div>